/**/*~
/**/*.aux
/**/*.log
/**/*.lof
/**/*.toc
/**/*.out
*.bbl
*.blg
main.pdf
intro/intro.pdf
ch1/ch1.pdf
ch2/ch2.pdf
ch3/ch3.pdf
ch4/ch4.pdf
ch5/ch5.pdf
ch6/ch6.pdf
appSens/appSens.pdf
appPeakShape/appPeakShape.pdf
appEventBuilder/appEventBuilder.pdf
appAllResults/appAllResults.pdf
